{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NimbusCore{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_stylesheet.css' %}">
</head>
<body>

    <header>
        <h1>{% block header %}NimbusCore{% endblock %}</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p style="text-align:center; font-size: 0.8rem;">&copy; 2025 - NimbusCore</p>
    </footer>

</body>
</html>
