{% extends "base.html" %}
{% load static %}

{% block title %}NimbusCore - Dashboard{% endblock %}

{% block content %}

    <div class="menu-container">
        <a href="{% url 'opcion1' %}" class="menu-option">Levantar servidor</a>
        <a href="{% url 'opcion2' %}" class="menu-option">Reiniciar Servidor</a>
        <a href="{% url 'opcion3' %}" class="menu-option">Monitorear Servidor</a>
        <a href="{% url 'opcion4' %}" class="menu-option">ELiminar Servidor</a>
    </div>

{% endblock %}
